<div class="card d-flex h-100 mb-4">
  <div class="card-header indigo white-text py-1">
  </div>
  <div class="card-body">
    <div class="d-flex flex-row align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img [src]="singleQuestion.answerer.photoUrl || defaultPhotoUrl" class="profile-img">
      </div>
      <div class="text-container">
        <p class="font-weight-bold text-break question-text"
          [routerLink]="['/users', singleQuestion.answerer.id,'single-questions',singleQuestion.id]">
          {{ singleQuestion.questionText }}</p>
        <p>
          <strong class="mt-2 username-text"
            [routerLink]="['/users', singleQuestion.answerer.id]">@{{ singleQuestion.answerer.username }}
          </strong>
          <span class="text-break">{{ singleQuestion.answerText }}</span>
        </p>
        <div class="date-time-text">{{ singleQuestion.createdAt | date:'medium' }}</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a type="button" class="btn-floating" (click)="loveQuestion()">
      <i class="fa fa-lg fa-heart" [class.pink-color]="isLoved"></i>
      {{ numOfLoves > 0 ? numOfLoves : null }}
    </a>
    <a type="button" class="btn-floating float-right"><i class="fa fa-lg fa-share-alt"></i></a>
  </div>
</div>