<div class="md-form">
  <textarea #question type="text" id="questionText" class="md-textarea md-textarea-auto form-control" mdbInputDirective
    [mdbValidate]="false"></textarea>
  <label for="questionText">Ask something</label>
</div>
<div class="d-flex justify-content-between">
  <div>{{ question.value && 200 - question.value.length || 200 }}</div>
  <div class="text-right">
    <button mdbBtn type="button" size="sm" color="pink" mdbWavesEffect [disabled]="question.value.length > 200"
      (click)="sendQuestion(question.value)">
      <mdb-icon fas icon="send" class="mr-1"></mdb-icon> Ask
    </button>
  </div>
</div>