.profile-img {
  border-radius: 50%;
  border: 3px solid white;
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  vertical-align: middle;
}

.btn.btn-block {
  padding-left: 5px;
  padding-right: 5px;
}
