.question-container {
  margin-top: 75px;
}

.card-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-img {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0;
  vertical-align: middle;
}

.date-time-text {
  font-size: 10px;
  color: #888;
}

.username-text:hover {
  cursor: pointer;
}

.fa.fa-heart,
.fa.fa-share-alt {
  color: #9e9e9e;
}

.pink-color {
  color: #ff4081 !important;
}

.title-text {
  font-weight: bold;
}
