<div class="container">
  <div class="card">
    <div class="card-header indigo white-text py-1">
    </div>
    <div class="card-body">
      <div class="text-center">
        <img [src]="user.photoUrl || defaultPhotoUrl" class="img-fluid rounded-circle">
      </div>
      <hr>
      <div class="text-center">
        <div class="mt-3">
          <h5 class="h5"><strong>@{{ user.username }}</strong></h5>
          <h5 class="h5">{{ user.firstName }} {{ user.lastName }}</h5>
        </div>
        <hr>
        <div class="mt-3">
          <mdb-icon fas icon="users" class="mr-1"></mdb-icon>
          <strong>Following:</strong> {{ user.followingCount }}
        </div>
        <div class="mt-3">
          <mdb-icon fas icon="users" class="mr-1"></mdb-icon>
          <strong>Followers:</strong> {{ user.followersCount }}
        </div>
        <div *ngIf="user.moodMessage" class="mt-3">
          {{ user.moodMessage }}
        </div>
        <ng-content select="div.buttons"></ng-content>
      </div>
    </div>
  </div>
</div>