<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo scrolling-navbar fixed-top">
  <mdb-navbar-brand class="white-text">
    <a routerLink="/" class="navbar-brand"><i class="fa fa-heartbeat"></i> LoveBox</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/news-feed">Feed</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/questions">Questions</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/user/profile">Profile</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/following">Following</a>
      </li>
    </ul>
  </links>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about">About</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/register">Register</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/login">Login</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect (click)="logout()">Logout</a>
      </li>
    </ul>
  </links>
</mdb-navbar>