<mdb-navbar mdbStickyHeader SideClass="navbar navbar-expand-lg navbar-dark indigo white-text" [containerInside]="false">
  <mdb-navbar-brand>
    <a routerLink="/" class="navbar-brand">
      <mdb-icon fas icon="heartbeat" class="mr-1"></mdb-icon>LoveBox
    </a>
  </mdb-navbar-brand>
  <links>
    <ul *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/news-feed">Feed</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/questions">Questions</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/users/me">Profile</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/following">Following</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <form *ngIf="isLoggedIn()" class="form-inline waves-light" mdbWavesEffect (ngSubmit)="search(searchInput.value)">
        <div class="input-group">
          <input #searchInput type="text" class="form-control" placeholder="username" aria-label="Search"
            aria-describedby="basic-addon1">
          <button mdbBtn color="white" outline="true" size="sm" class="my-0 waves-light" type="submit"
            mdbWavesEffect>Search</button>
        </div>
      </form>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about">About</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/register">Register</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/login">Login</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect (click)="logout()">Logout</a>
      </li>
    </ul>
  </links>
</mdb-navbar>