.card-header {
  padding: 3px;
}

.card-body {
  padding-bottom: 10px;
}

.question-text:hover {
  cursor: pointer;
}

.date-time-text {
  font-size: 10px;
  color: #888;
}

.fa.fa-heart,
.fa.fa-share-alt {
  color: #9e9e9e;
}

.pink-color {
  color: #ff4081 !important;
}