<div class="card d-flex h-100 mb-3">
  <div class="card-header indigo white-text py-1">
  </div>
  <div class="card-body">
    <div class="d-flex flex-row">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img [src]="bffRequest.fromUser.photo?.url || defaultPhotoUrl" class="profile-img">
        <strong class="username-text mt-2" [routerLink]="['/users', bffRequest.fromUser.id]">
          @{{ bffRequest.fromUser.username }}
        </strong>
      </div>
      <div class="ml-3 d-flex flex-column justify-content-between">
        <p class="request-text" (click)="openBffRequestModal()"><strong>{{ bffRequest.text }}</strong> </p>
        <div class="date-time-text">{{ bffRequest.createdAt | date:'medium' }}</div>
      </div>
    </div>
  </div>
</div>