<div class="container about-container text-center">
  <h2 class="h2 indigo-text">About</h2>
  <div class="mt-3">
    <h5>Vietnam National University, HCMC</h5>
    <h5>University of Information Technology</h5>
    <h5>Software Engineering Faculty</h5>
    <hr class="my-4">
    <h4 class="h4 indigo-text">J2EE</h4>
    <h5 class="h5 indigo-text">SE325.J21</h5>
    <hr class="my-4">
    <h4 class="h4">Lecturer</h4>
    <p>Dr. Huỳnh Ngọc Tín</p>
    <h4 class="h4">Students</h4>
    <p>Nguyễn Phúc Thiên Ân - 15520008</p>
    <p>Nguyễn Hữu Đạt - 15520104</p>
    <p>Nguyễn Sĩ Đạt - 15520105</p>
    <p>Phạm Lê Huy - 15520312</p>
  </div>
</div>