<div class="container profile-container">
  <div class="row">
    <div class="col-lg-3 mt-lg-3">
      <app-user-profile-overview [user]="user">
        <div class="mt-3 buttons text-center">
          <button mdbBtn type="button" size="sm" color="pink" mdbWavesEffect (click)="followOrUnfollowUser()">
            <mdb-icon fas icon="user-plus" class="mr-1"></mdb-icon>
            {{ user.followed ? 'Unfollow' : 'Follow' }}
          </button>
        </div>
      </app-user-profile-overview>
    </div>
    <div class="col-lg-9 mt-lg-3 mt-4">
      <mat-tab-group mat-stretch-tabs color="primary" backgroundColor="primary">
        <mat-tab label="Questions">
          <div class="container mt-4">
            <app-user-profile-questions-tab [user]="user"></app-user-profile-questions-tab>
          </div>
        </mat-tab>
        <mat-tab label="BFF">
          <div class="container mt-4">
            <app-user-profile-bff-tab [myUser]="myUser" [user]="user"></app-user-profile-bff-tab>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>