<ng-container *ngIf="!myUser.bffDetail">
  <p *ngIf="receivedBffRequests.length <= 0" class="info-text">
    You are not received any BFF request
  </p>
  <h5 *ngIf="receivedBffRequests.length > 0" class="h5">Received BFF Request(s):</h5>
  <div *ngIf="!myUser.bffDetail">
    <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="50"
      (scrolled)="onScrollDown()">
      <app-my-profile-bff-request-card *ngFor="let bffRequest of receivedBffRequests" [bffRequest]="bffRequest"
        (approved)="approveRequest($event)" (rejected)="rejectRequest($event)">
      </app-my-profile-bff-request-card>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="myUser.bffDetail">
  <app-user-profile-bff-overview [user]="myUser"></app-user-profile-bff-overview>
</ng-container>