.card-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-img {
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0;
  vertical-align: middle;
}

.username-text:hover {
  cursor: pointer;
}
