<ng-container *ngIf="!user.bffDetail && !myUser.bffDetail">
  <div class="card mt-3 mb-3">
    <div class="card-header indigo white-text py-2">
    </div>
    <div class="card-body">
      <div *ngIf="!loading && existSentRequest">
        <p class="font-weight-bold">You has sent a BFF request to this user</p>
        <p>{{ existSentRequest.text }}</p>
        <div class="date-time-text">{{ existSentRequest.createdAt | date:'medium' }}</div>
      </div>
      <form *ngIf="!loading && !existSentRequest" [formGroup]="requestForm" (ngSubmit)="sendRequest()">
        <div class="md-form">
          <textarea type="text" id="text" formControlName="text" class="md-textarea md-textarea-auto form-control"
            mdbInput></textarea>
          <label for="text">Write something</label>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <strong>{{ getRequestTextLength() }}</strong>
          <div class="text-right">
            <button mdbBtn type="submit" size="sm" color="pink" mdbWavesEffect [disabled]="requestForm.invalid">
              <mdb-icon far icon="paper-plane" class="mr-1"></mdb-icon>Send Request
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!user.bffDetail && myUser.bffDetail">
  <div>
    <p class="font-weight-bold">You alrealdy have BFF, so you cannot send a BFF request to this user</p>
  </div>
</ng-container>
<ng-container *ngIf="user.bffDetail">
  <app-user-profile-bff-overview [user]="user"></app-user-profile-bff-overview>
  <hr>
  <div *ngIf="myUser.id !==user.bffDetail.firstUser.id && myUser.id !==user.bffDetail.secondUser.id"
    class="card mt-3 mb-3">
    <div class="card-header indigo white-text py-2">
    </div>
    <div class="card-body">
      <form [formGroup]="askForm" (ngSubmit)="sendQuestion()">
        <div class="md-form">
          <textarea type="text" id="text" formControlName="questionText"
            class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
          <label for="text">Ask something</label>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <strong>{{ getQuestionTextLength() }}</strong>
          <div class="text-right">
            <button mdbBtn type="submit" size="sm" color="pink" mdbWavesEffect [disabled]="askForm.invalid">
              <mdb-icon far icon="paper-plane" class="mr-1"></mdb-icon>Ask
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScrollDown()">
    <app-couple-question-card *ngFor="let coupleQuestion of coupleQuestions" [user]="user"
      [coupleQuestion]="coupleQuestion">
    </app-couple-question-card>
  </div>
</ng-container>